<div class="container component">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" valign="middle" rowspan="2">#</th>
        <th scope="col" rowspan="2">Cliente</th>
        <th scope="col" rowspan="2">Cantidad de pedidos</th>
        <th scope="col" colspan="2">Productos mas comprados</th>
        <th scope="col" rowspan="2">Precio total de los pedidos</th>
        <th scope="col" rowspan="2">Total ganancia generada</th>
      </tr>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>

  </table>



</div>
