<div class="container component">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" valign="middle" rowspan="2">#</th>
        <th scope="col" rowspan="2">Cliente</th>
        <th scope="col" rowspan="2">Cantidad de pedidos</th>
        <th scope="col" colspan="2">Productos mas comprados</th>
        <th scope="col" rowspan="2">Precio total de los pedidos</th>
        <th scope="col" rowspan="2">Total ganancia generada</th>
      </tr>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody *ngFor="let infoReport of infoReports; let i = index">
      <tr>
        <th rowspan="3">{{i+1}}</th>
        <td>cc: {{infoReport?.client.indentification}}</td>
        <td rowspan="3">{{infoReport?.invoices.length}}</td>
        <td>{{(infoReport?.listProduct.length>0)?infoReport?.listProduct[0].product.type:""}}</td>
        <td>{{(infoReport?.listProduct.length>0)?infoReport?.listProduct[0].cantProduct:""}}</td>
        <td rowspan="3">{{infoReport?.totalBuy}}</td>
        <td rowspan="3">{{infoReport?.totalEarningsEarned}}</td>
      </tr>
      <tr >
        <td>nombre: {{infoReport?.client.name}}</td>
        <td>{{(infoReport?.listProduct.length>1)?infoReport?.listProduct[1].product.type:""}}</td>
        <td>{{(infoReport?.listProduct.length>1)?infoReport?.listProduct[1].cantProduct:""}}</td>
      </tr>
      <tr >
        <td>apellido: {{infoReport?.client.lastName}}</td>
        <td>{{(infoReport?.listProduct.length>2)?infoReport?.listProduct[2].product.type:""}}</td>
        <td>{{(infoReport?.listProduct.length>2)?infoReport?.listProduct[2].cantProduct:""}}</td>
      </tr>
    </tbody>
  </table>



</div>
